# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
node_modules/
venv/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/

# Environment variables
.env
*.env
!.env.example

# Serverless
.serverless/
serverless-config.yml

# OS files
.DS_Store

# IDE
.vscode/
.idea/